html, body {
    min-height: 100%;
    background-color: #3f3f3f;
}

.article-overview {
    overflow: hidden;
}
.article-body {
    line-height: 1.8em;
}
.article-timestamp {
    padding-right: 2%;
}